@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poiret+One&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.navbar-inner {
    width: 100%;
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo {
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(1, 116, 116);
    text-decoration: none;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style: none;
    font-size: 17px;
    font-family: 'NanumSquare';
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: 0.3s all;
}

.nav-link:hover {
    font-weight: 700;
}

.nav-icon {
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 786px) {
    .navbar.active {
        background: white;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: -500%;
        margin: 0;
        padding: 0 0 30px;
        box-shadow:  0 4px 16px -10px gray;
    }

    .navbar-inner {
        padding: 0;
    }

    .nav-links.active {
        background: white;
        position: fixed;
        top: 80px;
    }

    .nav-icon {
        display: flex;
        padding-right: 20px;
    }

    .nav-logo {
        padding-left: 20px;
    }
}
