@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.event-banner-container {
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-image: url("./ecoday2.jpg");
    background-repeat: no-repeat;
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
}

.event-inner {
    width: 100%;
    height: calc(100vh - 130px);
    padding: 80px 20px 50px;
    max-width: 1070px;
    min-height: 535px;
    display: flex;
    justify-content: flex-end;
}

.event-title {
    padding-top: 50px;
    text-align: end;
    color: white;
    font-size: 2rem;
}

.event-title p:first-child {
    font-size: 3rem;
    font-weight: 700;
    animation: slidein 1s;
    position: relative;
}

.event-title div {
    position: relative;
    animation-name: slidein;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.event-title p:last-child {
    position: relative;
    animation-name: slidein;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slidein {
    from {
        left: 30%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

.event-card-container {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.555);
    display: flex;
    justify-content: center;
    font-family: 'GmarketSansMedium';
    text-align: center;
}

.event-card-inner {
    min-height: 535px;
    width:100%;
    max-width: 1070px;
    padding: 60px 10px 60px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(260px, auto);
    justify-items: center;
}

.card-image {
    overflow: hidden;
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.card-title {
    padding-top: 16px;
    font-size: 1.2rem;
}

input[id*="popup"] {
    display: none;
}

input[id*="popup"] + label {
    display: inline-block;
    width: 450px;
    height: 330px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 1px 1px 15px -4px rgba(128, 128, 128, 0.582);
    transition: 0.2s ease-in;
}

input[id*="popup"] + label:hover {
    cursor: pointer;
    transform: translateY(-8px);
}

input[id*="popup"] + label + div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* input[id*="popup"]:checked + label + div {
    display: block;
}

input[id*="popup"] + label + div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background: #fff;
    z-index: 2;
}

input[id*="popup"] + label + div > div > label {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%, -40%);
    padding: 5px 10px;
    background: #dd5447;
    border-radius: 100%;
    color: #fff;
    z-index: 1;
}

input[id*="popup"] + label + div > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
} */