@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poiret+One&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
.hanna * {
 font-family: 'Hanna', fantasy;
}

/* MainPage.js */
.home-container {
    width: 100%;
    min-height: calc(100vh - 180px);
    display:flex;
    justify-content: center;
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* MainHome.js */
.home-inner {
    width: 100%;
    max-width: 1070px;
    padding: 80px 20px 0;
    display: flex;
    flex-direction: column;
}

.home-top {
    width: 100%;
    min-height:calc(calc(100vh - 180px) / 2);
    display: flex;
}

.home-top-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-title-area img {
    padding-right: 10px;
}

#home-inner-title {
    display: inline-block;
    font-size: 3.5rem;
    font-family: 'Hanna', fantasy;
    color:rgb(0, 77, 41);
}

#home-title-desc {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5rem;
    font-family: 'NanumSquare';
}

#home-title-desc div:last-child {
    padding-top: 10px;
}

.home-top-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    font-family: 'NanumSquare';
}

/* .top-right button {
    width: 180px;
    height: 60px;
    background:rgb(0, 88, 47);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: 2px 4px 10px -4px rgb(0, 1, 1);
    margin-left: 220px;
    margin-top: 30px;
} */

.home-top-right div {
    padding-left: 200px;
}

.home-top-right div:first-child {
    padding-top: 30px;
}

.home-top-right div span:first-child {
    font-size: 3.3rem;
    font-weight: 700;
    padding-right: 3px;
}

.home-bottom {
    width: 100%;
    min-height:calc(calc(100vh - 180px) / 2);
    display: flex;
    flex-direction: column-reverse;
}

/* MainPoint.js */
.point-container {
    width: 100%;
    background-color: rgb(251, 242, 225);
    display:flex;
    justify-content: center;
}

.point-inner {
    font-family: 'NanumSquare';
    min-height: calc(100vh - 220px);
    width: 100%;
    max-width: 1070px;
    padding: 0 20px 0 80px;
    display: flex;
    flex-direction: column;
}

.point-top {
    min-height: calc(calc(100vh - 220px) / 2.7);
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
}

.point-top-title span {
    font-family: 'Poiret One', cursive;
    color: rgb(1, 116, 116);
}

.point-bottom {
    display: flex;
}

.point-bottom-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    padding-left: 50px;
}

.point-bottom-desc div:last-child {
    padding-top: 30px;
}

/* MainWay.js */
.way-container {
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}

.way-inner {
    width: 100%;
    max-width: 1070px;
    height: 100vh;
    padding: 80px 20px;
    font-family: 'NanumSquare';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.way-top {
    line-height: 1.4;
}
.way-top > div:first-child, .way-bottom > div:first-child {
    font-size: 1.7rem;
}

.way-top div:last-child, .way-bottom div:last-child {
    margin-top: 60px
}
.way-top div:last-child ul, .way-bottom div:last-child ul {
    list-style: none;
    padding-left: 0;
}

.way-top div:last-child ul li {
    display: inline-block;
    width: 33%;
    font-size: 1.7rem;
    font-weight: 600;
}

.way-bottom div:last-child ul li {
    display:inline-block;
    width: 20%;
}